.clients{
    display: flex;
    justify-content: center;
    margin: -15px;
    margin-bottom: 200px;
}

.clients__item{
    margin: 15px;
    flex-basis: calc((100% - 180px) / 6);
}

.clients__link{
    @extend %list;
    justify-content: center;
    @include effect(border-color);
    @include effect(color);
    height: 92px;
    // max-width: 170px;
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    color:var(--icons-color); 
    &:hover, &:focus{
        border-color: var(--accent-color);
        color: var(--accent-color);
    }
    &:focus{
        outline-color: var(--accent-color);
    }
}

.clients__icon{
    fill: currentColor;
}
