.clients{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.clients__item{
    margin: 15px;
    flex-basis: calc(100% / 2 - 30px);
    @media screen and (min-width: 768px) {
        max-width: calc(100% / 3 - 30px);  
    }
}

.clients__link{
    @extend %list;
    justify-content: center;
    @include effect(border-color);
    @include effect(color);
    height: 92px;
    // max-width: 170px;
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    color:var(--icons-color); 
    &:hover, &:focus{
        border-color: var(--accent-color);
        color: var(--accent-color);
    }
    &:focus{
        outline-color: var(--accent-color);
    }
}

.clients__icon{
    fill: currentColor;
}
