.section__title{
  @include font(700, 36px, 1.17, 0.03em);
  margin-bottom: 50px;
  text-align: center;
  color: var(--second-title-color);
}
  
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--footer-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
      
}
  
.hero__title{
  @include font(900, 44px, 1.36, 0.06em);
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--background);
}



