.header{
  background-color: var(--background);
  border-bottom: 1px solid #ececec;
    
}
.contanier__header{
  @extend %list;
  justify-content: space-between;
  padding-top: 10px;
    padding-bottom: 10px;
  @media  screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media  screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: end;
  }
}

.header__logo{
  color: var(--second-title-color);
  @media  screen and (min-width: 1200px) {
      margin-right: 89px;
  }
}

.header__btn{
  background-color: var(--background);
  border: none;
  padding: 0;
  @media  screen and (min-width: 768px) {
    display: none;
  }
}

.header__menu-open{
  fill: #212121;
  @include effect(fill);
  &:hover, &:focus{
    fill: var(--accent-color);
  }
}

.site-nav{ 
  display: none;
  @media  screen and (min-width: 768px) {
    display: flex;
  }
  
}

.site-nav__item{
  margin-right: 50px;
}

.site-nav__item:last-child{
  margin-right: 0;
}

.site-nav__link{
  @include font(500, 14px, 1.14, 0.02em);
  color: var(--second-title-color);
  transition-property: color;
  transition-duration: var(--effect-time);
  transition-timing-function: var(--function-time); 
  padding: 2px 4px;
  &:hover, &:focus{
    color: var(--accent-color);
  }
}

.site-nav__link_accent{
  color: var(--accent-color);
  position: relative;
  &::after{
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -31.5px;
  }
}

.contacts{
  display: none;
  @media  screen and (min-width: 768px){
    display: block;
    
    
  }
  @media  screen and (min-width: 1200px) {
    &:first-child{
      margin-bottom: 0;
    }
    display: flex;
    align-items: center;
    margin-left: auto;
  }
   
}
.contacts__item{

  &:not(:last-child){
    margin-bottom: 10px;
  }
  @media  screen and (min-width: 1200px){
    &:not(:last-child){
      margin-bottom: 0px;
      margin-right: 50px;
    }
  }
}


.contacts__link{
  @extend %list;
  @include font(500, 14px, 1.14, 0.02em);
  color: var(--p-title-color); 
  @include effect(color);
  padding: 2px 4px;
  &:hover, &:focus{
    color: var(--accent-color);
  }
}

.contacts__icon{
  margin-right: 10px;
  fill: currentColor;
}