.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-color);
}

.footer__contanier{
    text-align: center;

    @media screen and (min-width: 768px) {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around; 
    }
    @media screen and (min-width: 1200px) {
       align-items: baseline; 
       justify-content: space-between;
       text-align:start;
    }
}

.footer__block{
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }
}

.direct-block{
    margin-top: 20px;
    font-style: normal;
}

.direct-block__list{
    @include font(null, 14px, 1.71, 0.03em);
    color: var(--background);

    margin-bottom: 8px;
    @media screen and (min-width: 1200px){
        margin-bottom: 9px;
    }
    &:last-child{
        margin-bottom: 0;
    }
}

.direct-block__adds{
    color: var(--background);
    @include effect(color); 
    padding: 2px 4px;
    &:hover, &:focus{
    color: var(--footer-hover-text-one);
    }
}

.direct-block__cont{
    color: var(--footer-cont-color);
    @include effect(color);
    padding: 2px 4px;
    &:hover, &:focus{
        color: var(--footer-hover-text-two);
    }  
}

.footer__title{
    display: block;
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--background);
}

.social__icon_footer{
    background-color: var(--footer-icons-background); 
    @include effect(background-color); 
    &:hover, &:focus{
        background-color: var(--accent-color);
    }
}

.social-list__icon_footer{
    fill: var(--background);
}

.subscription{
    @media screen and (min-width: 768px) {
        flex-basis: 450px;
        display: block;
    }
    @media screen and (min-width: 1200px) {
        flex-basis: 47.5%;
    }
}

.subscript__elements{
    @media screen and (min-width: 1200px) {
        display:flex;
        justify-content: space-between;
    } 
}

.subscript-mail{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    @include font(null, 16px, 1.25, 0.03em);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    padding:  15px 16px;
    color: var(--footer-cont-color);
}

.subscription__btn{
    @extend %list;
    @include font(700, 16px, 1.87, 0.06em);
    display:flex;

    margin-left:auto;
    margin-right: auto;
    padding: 10px 28px 10px 29px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    @media screen and (min-width: 1200px){
        margin: 0;
        align-self: flex-start;
        margin-left: 12px;
    }
}

.subscribe-icon{
    margin-left:10px;
}