/* Общие стили для всех кнопок */
.btn{
    display: inline-block;  /*Делает из строчного элемента строчно-блочный чтоб задать вертикальные паддинги*/
    font-family: Roboto;
    border-radius: 4px;
    border: transparent; /* Убирает рамку */
    cursor: pointer; /*Меняет курсор на палец при наведении*/
    background-color: var(--accent-color);
    color: var(--background);
}

.hero__btn{
  @include font(700, 16px, 1.87, 0.06em);
  @include effect(background-color);
  padding: 10px 32px; /*10 вертикальные 32 гоизонтальные*/
  &:hover{
    background-color: var(--second-btn-color);
  }
}


.modal__btn{
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding: 10px 55px 10px 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__close{
  @extend %list;
  @include effect(fill);
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--border-close-btn);
  background-color: var(--background);
  /* box-sizing: border-box; */
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  &:hover{
    fill: var(--accent-color);
  }
}



