.logo{
    @include font(700, 26px, 1.19, 0.03em);
    @include effect(color);
    font-family: Raleway;
    text-decoration: none;
    padding: 2px 4px;
    &:hover, &:focus{
        color: var(--accent-color);
    }
}


.logo__footer{
    color: var(--background);
}

.logo__accent{
    color: var(--accent-color);
}