.mob-menu{
    position: fixed;
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 1;
    transform: translate(0);
    transition: transform 500ms, opacity 500ms;
        
    &.is-hidden{
        transform: translate(100%);   
    }

    @media screen and (min-width:768px){
        display: none;
    }
}

.mob-menu-contanier{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
    max-width: 480px;
    height: 100%;
    margin: 0 auto; 
    padding: 48px 40px;
    // outline: 1px solid tomato;
}

.menu-btn__modal{
    position:absolute;
    right: 15px;
    top: 10px;
}

.menu-btn__close{
    @include effect(fill);
    &:hover, &:focus{
      fill: var(--accent-color);
    }
  }

.menu-nav{
    margin-bottom: auto;
}

.menu-nav__item{
    margin-bottom: 32px;
}

.menu-nav__link{
    @include font(500, 40px, 1.18, 0.02em);
    color: var(--second-title-color);
}

.menu-nav__link_accent{
    color: var(--accent-color);
}

.mob-menu__tel{
    display: block;
    @include font(500, 34px, 1.18, 0.02em);
    margin-bottom: 32px;
    color: var(--accent-color)
}

.mob-menu__mail{
    display: block;
    @include font(500, 24px, 1.67, 0.02em);
    color: var(--p-title-color);
    margin-bottom: 64px;
}


.menu-social{
    display: flex;
}

.menu-social__item{
    &:not(:last-child){
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    &:not(:last-child){
        padding-right: 10px;
    }
    &:not(:first-child){
        padding-left: 10px;
    }
}

.menu-social__links{
    color: var(--accent-color);
}

