.section{
    padding-top: 94px;
    padding-bottom: 94px;

    &__no-padding-top{
        padding-top: 0 ;
    }

    &__team-background{
        background-color: var(--background-elements);
    }
}

// .section__no-padding-top{
//     padding-top: 0 ;
// }

// .section__team-background{
//     background-color: var(--background-elements);
// }

