:root {
  --background: #ffffff;
  --background-elements: #F5F4FA;
  --footer-color: #2F303A;
  --footer-cont-color: rgba(255, 255, 255, 0.6);
  --footer-hover-text-one: rgba(255, 255, 255, 0.8);
  --footer-hover-text-two: rgba(255, 255, 255, 0.4);
  --footer-icons-background: rgba(255, 255, 255, 0.1);
  --footer-hover-accent: rgba(33, 149, 243, 0.9);
  --portf-img-txt-color:rgba(33, 150, 243, 0.9);
  --spec-label-background: rgba(47, 48, 58, 0.8);
  --modal-background: rgba(0, 0, 0, 0.2);
  --border-close-btn: rgba(0, 0, 0, 0.1);
  --second-btn-color:#188CE8;
  --accent-color: #2196F3;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --p-title-color: #757575;  
  --icons-color: #afb1b8;
  --effect-time:250ms;
  --function-time:cubic-bezier(0.4, 0, 0.2, 1);
}